:root {
    --text: hsl(34, 28%, 5%);
    --main-background: hsl(40, 33%, 95%);
    --background: hsl(40, 33%, 90%);
    --secondary: hsl(37, 46%, 39%);
    --primary: hsl(36, 42%, 71%);
    --green: hsl(93, 46%, 54%);
    --shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

:root[data-theme="dark"] {
    --text: hsl(34, 28%, 95%);
    --main-background: hsl(45, 40%, 5%);
    --background: hsl(45, 40%, 10%);
    --primary: hsl(37, 46%, 39%);
    --secondary: hsl(36, 42%, 71%);
    --green: hsl(93, 46%, 46%);
    --shadow: 5px 5px 5px rgba(255, 255, 255, 0.2);
}

html {
    font-size: 62.5%;
}

.svg.dark {
    filter: invert(100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body, .svg {
    transition: 0.5s;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: var(--text);
}

/* header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 2rem;
}

#theme-icon {
    cursor: pointer;
}

/* main */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 16px 50px;
    background-color: var(--main-background);
    flex: 1;
}

#add-book {
    background-color: var(--primary);
    color: var(--text);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}

.card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, .25fr));
    grid-auto-rows: 260px;
    gap: 20px;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 5px;
    font-size: 2rem;
    gap: 10px;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    box-shadow: var(--shadow);
}

.card button {
    border: none;
    background-color: hsl(40, 33%, 95%);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}

button.read {
    background-color: var(--green);
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    gap: 20px;
}

.footer a {
    cursor: pointer;
}

/* dialog */

dialog {
    margin: auto;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

dialog form {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 10px;
}

dialog form label {
    margin-top: 10px;
    color: var(--text);
}

dialog form .status-container {
    font-size: 2rem;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

dialog form .status-container label {
    cursor: pointer;
    margin: 0;
}

dialog form input {
    padding: 10px;
    font-size: 2rem;
    border-radius: 5px;
}

dialog form div input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: var(--green);
}

dialog form button {
    border: none;
    background-color: var(--secondary);
    color: var(--text);
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}

::backdrop {
    backdrop-filter: blur(5px);
}